notifications:
  email:
    on_success: never
    on_failure: change

os:
  - linux
  - osx

install:
  - rm -rf ~/.nvm
  - git clone https://github.com/creationix/nvm.git ~/.nvm
  - source ~/.nvm/nvm.sh
  - nvm install $NODE_VERSION
  - node --version
  - npm install

script: npm test

sudo: false

git:
  depth: 10

branches:
  only:
    - master

env:
  global:
    - CC=clang CXX=clang++ npm_config_clang=1
  matrix:
    - NODE_VERSION=8.9.3
    - NODE_VERSION=10
